body {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

html, body, #root {
  height: 100%;
}

img {
  width: 100%;
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
